@{
    
}

@using (Html.BeginForm("forgetpassword","account",FormMethod.Post,new {@class = "form-horizontal"})) {
    @Html.AntiForgeryToken()
    <div class="control-group">
         <div class="controls">
                @Html.ValidationSummary("", new  {@class ="text-error" })
             </div>
    </div>
     <div class="control-group">
        @*<label class="control-label" for="inputEmail">Email</label>*@
        @Html.Label("邮箱", new { @class = "control-label" })
        <div class="controls">
            @*<input type="text" id="inputEmail" placeholder="Email">*@
            @Html.TextBox("Email")

        </div>
    </div>
  
    <div class="control-group">
        <div class="controls">
         <input type="submit" value="提交" class="btn" /> 
            </div>
    </div>
}
