  <ul class="nav nav-pills" >
         <li><a href="/admin/systemlog">日志</a></li>
                        <li><a href="/admin/notice">公告</a></li>

                        <li><a href="/admin/help">使用帮助</a></li>
    </ul>



