  <ul class="nav nav-pills">
      <li >
        <a href="/manager/UserSetting">任务设置</a>
      </li>
      <li><a href="/manager/UserMoney">消费记录</a></li>
      <li><a href="/home/processtrx">充值</a></li>
      <li><a href="/account/accountinfo">账户信息</a></li>
 
      <li><a href="/account/UpdatePassword">修改密码</a></li>
            <li><a href="/manager/requestmoney">积分余额</a></li>
           
    </ul>