<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Critical,Error" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\payfabric.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Beauty-20130818075029;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Beauty-20130818075029.mdf" providerName="System.Data.SqlClient" />
    <add name="ConnectStr" connectionString="Data Source=.;Initial Catalog=beauty;User ID=sa;Password=password0" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="emailaccount" value="fengzijun_2015@163.com" />
    <add key="emailpassword" value="fzj65315675" />
    <add key="smtp" value="smtp.163.com" />
    <add key="port" value="25" />
    <add key="domain" value="http://localhost:1727" />
    <add key="tokentimeout" value="10" />
  </appSettings>
  <system.web>

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="65536010" />
        </behavior>

      </serviceBehaviors>

    </behaviors>
    <bindings>

      <wsHttpBinding>
           <binding name="WSDefaultBinding" closeTimeout="01:30:01" openTimeout="01:30:01"
                  receiveTimeout="01:30:01" sendTimeout="01:30:01" bypassProxyOnLocal="false"
                  hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647"
                  maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8"
                  useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="01:10:01"
                      enabled="true" />
                    <security mode="None" />
                </binding>
      </wsHttpBinding>
    
    </bindings>
    <services>
      <service name="Beauty.API.BeautyService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSDefaultBinding" contract="Beauty.API.IBeautyService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

    </services>
    <client>

      <endpoint address="http://localhost:1262/BeautyService.svc" binding="basicHttpBinding" bindingConfiguration="WSDefaultBinding" contract="Beauty.API.IBeautyService" name="CommonEndpoint" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
